.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel {
  padding: 25px;
  border-radius: 5px;
  display: inline-block;
  width: 15%;
  height: 60%;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  margin: 2%;
  overflow-y: auto;
  text-align: left;
  line-height: .3;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

#weapon-summary-div {
  height: 20%;
}

#weapon-div {
  height: 100%;
}

#weapon-div > .image {
  height: 100%;
  padding: 0;
}

.display-none {
  display: none;
}

.fadeOut{
  position: fixed;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s;
  z-index: -1;
}
.fadeIn{
  
  margin-top: 56px;
  display: block;
  justify-content: center;
  align-items: center;
  opacity:1;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s 0.5s;
  z-index: 1;
}